<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202842106605-3oqp5gd8n2k9e9h4e0eqgc7esa3b0em2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202842106605-3oqp5gd8n2k9e9h4e0eqgc7esa3b0em2</string>
	<key>API_KEY</key>
	<string>AIzaSyBoD6DKpszhxIqo2F7iYFk69IDrVH5FhpA</string>
	<key>GCM_SENDER_ID</key>
	<string>202842106605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>food-recipe-app232323</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipe-app232323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202842106605:ios:1e0eeb608dcf42b504bae4</string>
</dict>
</plist>